.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body {
  padding-top: 0px;
  padding-right: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#016d96), to(#016d96));
  background-image: linear-gradient(180deg, #016d96, #016d96);
  box-shadow: 0 0 3px 0 #000;
  color: #016d96;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  margin-top: 5px;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url('../images/flexchain-logo.png');
  background-position: 50% 50%;
  background-size: cover;
}

.navbar {
  background-color: #016d96;
}

.nav-link {
  margin-left: 183px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
}

.nav-link:hover {
  color: #fccd98;
}

.nav-link-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
}

.nav-link-3:hover {
  color: #fccd98;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.primary-button {
  width: auto;
  margin-right: 10px;
  margin-left: 0px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 8px;
  background-color: #016d96;
  font-family: Bitter, serif;
  color: #fccd98;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.primary-button:hover {
  background-color: #f08b48;
  color: #fff;
}

.primary-button.w--current {
  background-color: #f08b48;
  color: #fff;
  font-weight: 700;
}

.page-header {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-family: Bitter, serif;
  color: #fccd98;
  font-size: 25px;
  font-weight: 700;
}

.page-header.ph_other {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #016d96;
  font-size: 30px;
}

.page-header.ph_other.ph_settings {
  margin-top: 0px;
  color: #f08b48;
}

.page-header.ph_other.ph_settings.details-page {
  color: #016d96;
}

.page-header.ph_other.ph_settings.stovk {
  color: #016d96;
}

.page-header.locationph {
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.page-subheader {
  margin-top: 20px;
  padding-right: 40px;
  padding-left: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.page-subheader.ps_other {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 20px;
  text-align: left;
}

.page-subheader.ps_other.stocklevels {
  margin-top: 0px;
  margin-right: 0px;
  padding-right: 40px;
  color: #016d96;
}

.page-subheader.ps_other.settings {
  width: 350px;
}

.page-subheader.ask_sh {
  margin-bottom: 17px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.peach-text {
  margin-top: 0px;
  margin-bottom: 7px;
  padding-top: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fccd98;
  font-size: 16px;
  font-weight: 400;
}

.peach-text.ask_pt {
  margin-bottom: 8px;
  margin-left: 0px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: #016d96;
  font-family: Bitter, serif;
  color: #fff;
}

.peach-text.locationpt {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 10px;
}

.secondary-cta {
  padding-left: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #f08b48;
  font-size: 14px;
  text-align: right;
}

.primary-cta {
  background-color: transparent;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fccd98;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.primary-cta:hover {
  color: #f08b48;
}

.container-6 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.secondary-button {
  display: inline-block;
  margin: 10px 10px 0px 0px;
  padding-bottom: 9px;
  border-radius: 8px;
  background-color: #016d96;
  box-shadow: 1px 1px 3px 0 #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
}

.secondary-button.sb_other {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.secondary-button.sb_other:active {
  color: #fccd98;
}

.secondary-button.ask_sb {
  height: 25px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 9px;
  background-color: #fccd98;
  color: #016d96;
}

.secondary-button.lo_buttongsales {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.secondary-button.store {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.paragraph-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 16px;
}

.paragraph-text.pt_homepage {
  margin-top: 20px;
  color: #016d96;
  font-size: 17px;
}

.paragraph-text.pt_other {
  margin-top: 16px;
  margin-bottom: 10px;
  line-height: 20px;
  font-weight: 400;
}

.paragraph-text.ask_pt {
  font-size: 14px;
}

.paragraph-text.ask_pt2 {
  padding-bottom: 4px;
  font-size: 12px;
  font-style: italic;
}

.top-container {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.25);
}

.top-container.product {
  height: 250px;
  background-image: url('../images/ProductBanner.png');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.image-5 {
  width: 177px;
  max-width: 177px;
  margin-right: 0px;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}

.heading-4 {
  padding-right: 0px;
  font-family: 'Droid Serif', serif;
  color: #af3500;
  font-size: 40px;
  text-align: center;
}

.heading-4.yellow {
  color: #ecd629;
}

.column-5 {
  padding-right: 0px;
  text-align: center;
}

.dashboard-tile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 7px 7px 3px 0 #016d96;
  opacity: 1;
  white-space: normal;
}

.columns-6 {
  margin-bottom: 0px;
  padding-top: 17px;
  padding-right: 10px;
  padding-left: 10px;
}

.column-6 {
  display: block;
  padding-right: 0px;
}

.column-7 {
  padding-right: 0px;
  padding-left: 9px;
}

.columns-7 {
  margin-right: 0px;
}

.column-8 {
  left: -10px;
  padding-right: 0px;
}

.column-9 {
  left: -5px;
}

.text-field {
  width: auto;
  margin-right: 10px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  width: 35%;
  margin-top: 60px;
  margin-left: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.tabs-menu {
  position: relative;
  border-radius: 0px;
  text-align: center;
}

.form-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin-bottom: 0px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
}

.top-container-2 {
  height: 250px;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  background-image: url('../images/location.png');
  background-position: 100% 50%;
  background-size: cover;
}

.top-container-2.tc2_product {
  background-image: url('../images/ProductBanner.png');
}

.top-container-2.tc2_settings {
  background-image: url('../images/settings.png');
  background-position: 100% 60%;
}

.top-container-2.tc2_settings.tc2_account {
  background-image: url('../images/3.png');
}

.top-container-2.tc2_settings.tc2_account.details-page {
  height: 100px;
}

.top-container-2.tc2_settings.stocklevels_tc2 {
  height: 100px;
  padding-top: 0px;
  background-color: #016d96;
  background-image: url('../images/3.png');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-2 {
  width: 400px;
  margin-top: 10px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-3 {
  width: 350px;
  padding-top: 20px;
}

.tab-pane-add-product {
  position: relative;
  left: 170px;
  top: 0%;
  right: 0%;
  bottom: -16px;
}

.form-2 {
  margin-top: 32px;
  margin-bottom: 4px;
  padding-bottom: 0px;
}

.form-3 {
  margin-bottom: 0px;
}

.radio-button-field {
  padding-bottom: 0px;
  padding-left: 35px;
}

.radio-button-field-2 {
  padding-left: 35px;
}

.radio-button-field-3 {
  padding-left: 35px;
}

.formlabel {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Bitter, serif;
  color: #fff;
}

.select-field {
  width: 400px;
}

.text-field-2 {
  width: 400px;
  padding-left: 12px;
}

.text-field-2.longfield {
  overflow: scroll;
  height: 100px;
}

.button {
  background-color: transparent;
}

.simple-link {
  position: relative;
  margin-top: 15px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.select-field-2 {
  width: 500px;
}

.form-4 {
  margin-top: 0px;
  padding-top: 19px;
}

.text-field-3 {
  width: 150px;
}

.div-block-4 {
  position: relative;
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  float: none;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.field-label {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
}

.form-field-label {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
}

.form-field-label.headerstock {
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.paragraph {
  margin-top: -5px;
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 10px;
  font-style: italic;
}

.grid {
  grid-auto-flow: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.form-5 {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.form-5.logsales {
  margin-top: 20px;
  margin-bottom: 0px;
}

.text-field-4 {
  width: 300px;
}

.text-field-5 {
  width: 150px;
  margin-left: 0px;
  padding-left: 6px;
  border-radius: 5px;
}

.select-field-3 {
  display: block;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  text-align: left;
}

.text-field-6 {
  width: 200px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.select-field-4 {
  width: 300px;
  margin-left: -14px;
}

.div-block-5 {
  height: 50px;
}

.div-block-6 {
  height: 50px;
}

.form-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-7 {
  text-align: right;
}

.div-block-8 {
  text-align: right;
}

._404-body {
  background-color: #016d96;
}

.div-block-9 {
  width: 500px;
  text-align: left;
}

.text-field-7 {
  width: 250px;
}

.text-field-8 {
  width: 250px;
}

.background-video {
  width: 100px;
}

.link {
  color: #016d96;
  text-decoration: none;
}

.text-field-9 {
  width: 140px;
}

.div-block-10 {
  width: 150px;
}

.heading-5 {
  font-family: Bitter, serif;
  color: #fff;
}

.heading-6 {
  background-color: #f05e48;
  font-family: Bitter, serif;
  color: #fff;
}

.heading-6.redalert {
  border-radius: 15px;
  background-color: rgba(240, 94, 72, 0.8);
  font-size: 12px;
  text-align: center;
}

.heading-6.yellowalert {
  border-radius: 15px;
  background-color: rgba(224, 197, 75, 0.8);
  font-size: 12px;
  text-align: center;
}

.columns-8 {
  text-align: left;
}

@media (max-width: 991px) {
  .icon {
    background-color: #fccd98;
  }
}

@media (max-width: 767px) {
  .icon {
    color: #fff;
  }
}