{% extends 'base.html' %}
{% include 'nav.html' %}
{% block content %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" type="text/css">
<div id="Charts">
    <div class="top-container-2 tc2_product w-container">
        <div class="div-block-2">
            <h1 class="page-header ph_other">Products</h1>
            <h3 class="page-subheader ps_other">You can manage the data for each product you have or will have in
                inventory. You can view, update details, add and archive product here.</h3>
        </div>
    </div>
</div>
<div class="top-container w-container">
    {% include 'product/nav.html' %}
</div>
<div id="Top-Stats">
    <div class="top-container w-container">
        <div class="peach-text">Each submission corresponds to a single sales transaction.</div>
        <div class="div-block-sales">
            <div class="w-form">
                <form method="POST" action="/product/log" id="wf-form-Sales-Data" name="wf-form-Sales-Data"
                      data-name="Sales Data" class="form-5 logsales">
                    <label class="header-white" for="Date">Date
                        <input type="text" class="text-field-6 w-input" maxlength="256" name="Date" data-name="Date" placeholder="Date" id="Date" required="">
                    </label>
                    <label for="Total-Amount" class="header-white">Total Amount
                        <input type="text" class="text-field-6 w-input" maxlength="256" name="Total-Amount" data-name="Total Amount" placeholder="Total Amount" id="Total-Amount" required="">
                    </label>
                    <label for="Location" class="header-white">Location
                    <select id="Location-2" name="Location" data-name="Location" required=""
                            class="select-field-4 w-select">{% for location in context.locations%}
                        <option value="{{ location.location_id }}">{{ location.loc_name }}</option>
                        {% endfor %}</select>
                    </label>
                    <select id="SKU-0" name="SKU-0" data-name="SKU" class="select-field-3 w-select">
                        <option value="">--------</option>
                        {% for product in context.products %}
                        <option value="{{ product.sku }}">{{ product.product_name }}</option>
                        {% endfor %}</select><input type="number" class="text-field-5 w-input" maxlength="256"
                                                    name="Quantity-0" data-name="Location 3" placeholder="Quantity Sold"
                                                    id="Location-3" required="">
                    <div class="div-block-5"></div>
                    <select id="SKU-1" name="SKU-1" data-name="SKU 2" class="select-field-3 w-select">
                        <option value="">--------</option>
                        {% for product in context.products %}
                        <option value="{{ product.sku }}">{{ product.product_name }}</option>
                        {% endfor %}</select><input type="number" class="text-field-5 w-input" maxlength="256"
                                                    name="Quantity-1" data-name="Location 4" placeholder="Quantity Sold"
                                                    id="Location-4">
                    <div class="div-block-6"></div>
                    <select id="SKU-2" name="SKU-2" data-name="SKU 2" class="select-field-3 w-select">
                        <option value="">--------</option>
                        {% for product in context.products %}
                        <option value="{{ product.sku }}">{{ product.product_name }}</option>
                        {% endfor %}</select><input type="number" class="text-field-5 w-input" maxlength="256"
                                                    name="Quantity-2" data-name="Location" placeholder="Quantity Sold"
                                                    id="Location">
                    <div class="div-block-6"></div>
                    <select id="SKU-3" name="SKU-3" data-name="SKU 2" class="select-field-3 w-select">
                        <option value="">--------</option>
                        {% for product in context.products %}
                        <option value="{{ product.sku }}">{{ product.product_name }}</option>
                        {% endfor %}</select><input type="number" class="text-field-5 w-input" maxlength="256"
                                                    name="Quantity-3" data-name="Location 5" placeholder="Quantity Sold"
                                                    id="Location-5">
                    <div class="div-block-6"></div>
                    <div class="div-block-6"></div>
                    <div class="div-block-6"></div>
                    <input type="submit" value="Submit" data-wait="Submit" class="secondary-button w-button"></form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="../js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
{% endblock %}