{% block subnav %}
<div class="div-block-4"><a href="/product" class="primary-button w-button w--current">Find Product</a><a
        href="/product/add" class="primary-button w-button">Add Product</a><a href="/product/update"
                                                                              class="primary-button w-button">Update
    Product</a><a href="/product/archive" class="primary-button w-button">Archive Product</a><a href="/product/log"
                                                                                                class="primary-button w-button">Log
    Sales</a></div>
{% endblock %}