{% extends 'base.html' %}
{% block title %}Locations{% endblock %}
{% include 'nav.html' %}
{% block content %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" type="text/css">
<div id="Answer">
    <div class="top-container w-container">
        <div class="columns-7 w-row">
            <div class="secondary-cta">Go back
            </div>
            <div class="column-7 w-col w-col-3"><img src="{{ url_for('static', filename='images/scm-girl.png') }}"
                                                     alt="scm girl"
                                                     srcset="{{ url_for('static', filename='images/scm-girl-p-500.png') }} 500w, {{ url_for('static', filename='images/scm-girl-p-800.png') }} 800w, {{ url_for('static', filename='images/scm-girl-p-1080.png') }} 1080w, {{ url_for('static', filename='images/scm-girl-p-1600.png') }} 1600w, {{ url_for('static', filename='images/scm-girl-p-2000.png') }} 2000w, {{ url_for('static', filename='images/scm-girl-p-2600.png') }} 2600w, {{ url_for('static', filename='images/scm-girl-p-3200.png') }} 3200w, {{ url_for('static', filename='images/scm-girl-p-5000.png') }} 5000w"
                                                     sizes="177px" class="image-5"></div>
            <div class="w-col w-col-9">
                <h3 class="page-subheader ask_sh">Insert answer here
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}