{% extends 'base.html' %}
{% block title %}Locations{% endblock %}
{% include 'nav.html' %}
{% block content %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" type="text/css">
<div id="Greeting">
    <div class="top-container w-container">
        <div class="columns-7 w-row">
            <div class="column-7 w-col w-col-3"><img src="{{ url_for('static', filename='images/scm-girl.png') }}"
                                                     alt="scm girl"
                                                     srcset="{{ url_for('static', filename='images/scm-girl-p-500.png') }} 500w, {{ url_for('static', filename='images/scm-girl-p-800.png') }} 800w, {{ url_for('static', filename='images/scm-girl-p-1080.png') }} 1080w, {{ url_for('static', filename='images/scm-girl-p-1600.png') }} 1600w, {{ url_for('static', filename='images/scm-girl-p-2000.png') }} 2000w, {{ url_for('static', filename='images/scm-girl-p-2600.png') }} 2600w, {{ url_for('static', filename='images/scm-girl-p-3200.png') }} 3200w, {{ url_for('static', filename='images/scm-girl-p-5000.png') }} 5000w"
                                                     sizes="177px" class="image-5"></div>
            <div class="w-col w-col-9">
                <h3 class="peach-text">Hi Grace, welcome to Flexchain! We noticed the following events requiring your
                    attention.</h3>
                <div class="columns-6 w-row">
                    <div class="column-8 w-col w-col-4">
                        <div class="dashboard-tile w-row">
                            <div class="column-5 w-col w-col-3">
                                <h1 class="heading-4">{{ context.count_stockout }}</h1>
                            </div>
                            <div class="column-6 w-col w-col-9">
                                <div class="paragraph-text pt_homepage">Out of Stock Items</div>
                                <a href="/insight/stock-level?type=out" class="secondary-cta">Order Now</a></div>
                        </div>
                    </div>
                    <div class="column-9 w-col w-col-4">
                        <div class="dashboard-tile w-row">
                            <div class="column-5 w-col w-col-3">
                                <h1 class="heading-4 yellow">{{ context.count_critical }}</h1>
                            </div>
                            <div class="w-col w-col-9">
                                <div class="paragraph-text pt_homepage">Low Supply Items</div>
                                <a href="/insight/stock-level?type=low" class="secondary-cta">See Order Strategy</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="dashboard-tile w-row">
                            <div class="column-5 w-col w-col-3">
                                <h1 class="heading-4 yellow">{{ context.count_missingsales }}</h1>
                            </div>
                            <div class="w-col w-col-9">
                                <div class="paragraph-text pt_homepage">Missing Sales Data</div>
                                <a href="/product/log" class="secondary-cta">Enter Data</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Charts">
    <div class="top-container w-container">
        <div class="page-subheader ask_sh">Flexchain can provide smart recommendations for your order strategy.<br>Select
            the question you want to ask.
        </div>
        <label class="page-header">Selling</label><label class="radio-button-field w-radio"><input type="radio"
                                                                                                         data-name="Radio"
                                                                                                         id="What should I sell?"
                                                                                                         name="radio"
                                                                                                         value="What should I sell?"
                                                                                                         class="w-form-formradioinput w-radio-input"><span
            for="What should I sell?"
            class="paragraph-text ask_pt w-form-label">What should I sell?</span></label><label
            class="radio-button-field-2 w-radio"><input type="radio" data-name="Radio" id="Where should I sell?"
                                                        name="radio" value="What should I sell?"
                                                        class="w-form-formradioinput w-radio-input"><span
            for="What should I sell?-2"
            class="paragraph-text ask_pt w-form-label">Where should I sell?</span></label><label
            class="radio-button-field-3 w-radio"><input type="radio" data-name="Radio" id="Should I sell this item?"
                                                        name="radio" value="What should I sell?"
                                                        class="w-form-formradioinput w-radio-input"><span
            for="What should I sell?-2"
            class="paragraph-text ask_pt w-form-label">Should I sell this item?</span></label>
        <button id="Ask-Button-2" type="submit" class="secondary-button ask_sb w-button ask-now">Ask Now</button>
        <br><br>
        <label class="page-header">Purchasing<br></label><label
            class="radio-button-field-2 w-radio"><input type="radio" data-name="Radio" id="How much should I order?"
                                                        name="radio" value="How much should I order?"
                                                        class="w-form-formradioinput w-radio-input"><span
            for="How much should I order?"
            class="paragraph-text ask_pt w-form-label">How much should I order?</span></label><label
            class="radio-button-field-3 w-radio"><input type="radio" data-name="Radio" id="When should I order?" name="radio"
                                                        class="w-form-formradioinput w-radio-input"><span for="radio"
                                                                                                          class="paragraph-text ask_pt w-form-label">When should I order?</span></label>
        <button id="Ask-Button" class="secondary-button ask_sb w-button ask-now">Ask Now</button>
    </div>
</div>
<div id="Modal" class="modal">
    <div class="top-container w-container">
        <div class="modal-content">
            <div style="display:none;" class="what-should-sell">
                <br>
                <label class="peach-text ask_pt"><br>What should I sell?<br></label>
                Are you planning to participate in a weekend market, pop-up shop or any temporary sales event and is not quite sure which items to sell?
                Select the date of the event and the location where you are planning to pull the stock. Flexchain will recommend the best item/s to sell given past sales trends and stock availability.
                <br>
                <br>
                <form action="/insight/ask/sell/what" method="POST">
                    <label for="location">Location
                        <select name="location">
                            {% for location in context.locations %}
                            <option value="{{ location.location_id }}">{{ location.loc_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="date">Date
                        <input type="date" name="date"/>
                    </label>
                    <button type="button" class="close secondary-button ask_sb w-button">Cancel</button>
                    <input type="submit" value="Get suggestion" data-wait="Please wait..."
                           class="secondary-button ask_sb w-button">
                </form>
            </div>
            <div style="display:none;" class="where-should-sell">
                <form action="/insight/ask/sell/where" method="POST">
                    <label class="peach-text ask_pt"><br>Where should I sell?<br></label>
                    <p>Some products sell really well in some stores while others do not sell at all. Know where to sell an item to get the most revenue.
                        You can use the insights you get here to help in supply planning decisions.</p>
                    <label for="location">Location
                        <select name="location">
                            {% for location in context.locations %}
                            <option value="{{ location.location_id }}">{{ location.loc_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="top-three-products"> Select Product(s) <br>
                        {% for product in context.products %}
                        <input type="checkbox" name="{{ product.sku }}"/> {{ product.product_name }}
                        <br>
                        {% endfor %}
                    </label>
                    <button type="button" class="close secondary-button ask_sb w-button">Cancel</button>
                    <input type="submit" value="Get suggestion" data-wait="Please wait..."
                           class="secondary-button ask_sb w-button">
                </form>
            </div>
            <div style="display:none;" class="should-sell">
                <form action="/insight/ask/sell/should" method="POST">
                    <label class="peach-text ask_pt">Should I sell this item?</label>
                    <label for="product">
                        <select name="product">
                            {% for product in context.products %}
                            <option value="{{ product.sku }}">{{ product.product_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="location">
                        <select name="location">
                            {% for location in context.locations %}
                            <option value="{{ location.location_id }}">{{ location.loc_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button type="button" class="close secondary-button ask_sb w-button">Cancel</button>
                    <input type="submit" value="Get suggestion" data-wait="Please wait..."
                           class="secondary-button ask_sb w-button">
                </form>
            </div>
            <div style="display:none;" class="how-much-order">
                <form method="POST" action="/insight/ask/order/quantity">
                    <label class="peach-text ask_pt">How much should I order?</label>
                    <label for="product">
                        Product
                        <select name="product">
                            {% for product in context.products %}
                            <option value="{{ product.sku }}">{{ product.product_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button type="button" class="close secondary-button ask_sb w-button">Cancel</button>
                    <input type="submit" value="Get suggestion" data-wait="Please wait..."
                           class="secondary-button ask_sb w-button">
                </form>
            </div>
            <div style="display:none;" class="when-order">
                <div class="w-form">
                    <form action="/insight/ask/order/when" method="POST"><label class="peach-text ask_pt">When should I
                        order?</label>
                        <label for="product" class="formlabel">Select the item you want to order</label><select
                                id="Product"
                                name="product"
                                required=""
                                data-name="Product"
                                class="select-field w-select">
                            {% for product in context.products%}
                            <option value="{{ product.sku }}">{{ product.product_name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button class="close secondary-button ask_sb w-button">Cancel</button>
                        <input type="submit" value="Get suggestion" data-wait="Please wait..."
                           class="secondary-button ask_sb w-button"></form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/webflow.js') }}" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script type="text/javascript">
    // Get the modal
$( document ).ready(function() {
    var modal = document.getElementById("Modal");

    // Get the button that opens the modal
    var btn = document.getElementById("Ask-Button");
    var btn2 = document.getElementById("Ask-Button-2");
    let whatShouldISell = document.getElementById("What should I sell?");
    let whereShouldISell = document.getElementById("Where should I sell?");
    let shouldISellThisItem = document.getElementById("Should I sell this item?");
    let howMuchShouldIOrder = document.getElementById("How much should I order?");
    let whenShouldIOrder = document.getElementById("When should I order?");

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        if (howMuchShouldIOrder.checked) {
            modal.style.display = "block";
            $(".how-much-order").css({display: "block"});
        }
        if (whenShouldIOrder.checked) {
            modal.style.display = "block";
            $(".when-order").css({display: "block"});
        }
    };

    btn2.onclick = function () {
        if (whatShouldISell.checked) {
            modal.style.display = "block";
            $(".what-should-sell").css({display: "block"});
        }
        if (whereShouldISell.checked) {
            $(".where-should-sell").css({display: "block"});
            modal.style.display = "block";
        }
        if (shouldISellThisItem.checked) {
            $(".should-sell").css({display:"block"});
            modal.style.display = "block";
        }
    };

    // When the user clicks on <span> (x), close the modal
    $(".close").click(function(){
        modal.style.display = "none";
        $(".what-should-sell").css({display:"none"});
        $(".where-should-sell").css({display:"none"});
        $(".should-sell").css({display:"none"});
        $(".how-much-order").css({display: "none"});
        $(".when-order").css({display: "none"});
    });

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            $(".what-should-sell").css({display:"none"});
            $(".where-should-sell").css({display:"none"});
            $(".should-sell").css({display:"none"});
            $(".how-much-order").css({display: "none"});
            $(".when-order").css({display: "none"});
        }
    }
});
</script>
{% endblock %}