{% extends 'base.html' %}
{% include 'nav.html' %}
{% block content %}
<div id="Greeting">
    <div class="top-container w-container">
        <div class="columns-7 w-row">
            <div class="column-7 w-col w-col-3"><img src="{{ url_for('static', filename='images/scm-girl.png') }}"
                                                     alt="scm girl"
                                                     srcset="images/scm-girl-p-500.png 500w, images/scm-girl-p-800.png 800w, images/scm-girl-p-1080.png 1080w, images/scm-girl-p-1600.png 1600w, images/scm-girl-p-2000.png 2000w, images/scm-girl-p-2600.png 2600w, images/scm-girl-p-3200.png 3200w, images/scm-girl.png 5000w"
                                                     sizes="177px" class="image-5"></div>
            <div class="w-col w-col-9">
                <h3 class="peach-text">Hi {{ context.name   }}, welcome to Flexchain! We noticed the following events requiring your
                    attention.</h3>
                <div class="columns-6 w-row">
                    <div class="column-8 w-col w-col-4">
                        <div class="dashboard-tile w-row">
                            <div class="column-5 w-col w-col-3">
                                <h1 class="heading-4">{{ context.count_stockout }}</h1>
                            </div>
                            <div class="column-6 w-col w-col-9">
                                <div class="paragraph-text pt_homepage">Out of Stock Items</div>
                                <a href="/insight/stock-level?type=out" class="secondary-cta">View Now</a></div>
                        </div>
                    </div>
                    <div class="column-9 w-col w-col-4">
                        <div class="dashboard-tile w-row">
                            <div class="column-5 w-col w-col-3">
                                <h1 class="heading-4 yellow">{{ context.count_critical }}</h1>
                            </div>
                            <div class="w-col w-col-9">
                                <div class="paragraph-text pt_homepage">Low Supply Items</div>
                                <a href="/insight/stock-level?type=low" class="secondary-cta">See Order Strategy</a></div>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="dashboard-tile w-row">
                            <div class="column-5 w-col w-col-3">
                                <h1 class="heading-4 yellow">{{ context.count_missingsales }}</h1>
                            </div>
                            <div class="w-col w-col-9">
                                <div class="paragraph-text pt_homepage">Missing Sales Data</div>
                                <a href="/product/log" class="secondary-cta">Enter Data</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Charts">
    <div class="top-container w-container">
        <div class="page-header">Quick Actions</div>
        <a href="/product/log" class="secondary-button w-button">Log Sales</a><a href="/product/add"
                                                                                 class="secondary-button w-button">Add
        Product</a><a href="/location/adjust-inventory" class="secondary-button w-button">Update Inventory</a><a
            href="/insight" class="secondary-button w-button">Ask a Question</a></div>
</div>
<div id="Top-Stats">
    <div class="top-container w-container">
        <h1 class="page-header">Analytics</h1>
        <div class="w-row">
            <div class="w-col w-col-12">
                <div class="w-embed w-iframe">
                    <div id="forecast-chart" style="width:600px; height:371px;"></div>
                </div>
            </div>
        </div>
        <div class="paragraph"> If the demand is 0 it is possible that there is not enough data to create a forecast.</div>
        <br>
        <div class="w-row">
            <div class="w-col w-col-12">
                <div class="w-embed w-iframe">
                    <div id="chart" style="width:600px; height:371px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/webflow.js') }}" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['corechart', 'bar'],
    });

    google.charts.setOnLoadCallback(draw);

    function draw(response) {
        var data = google.visualization.arrayToDataTable({{
            context.data | safe
        }});
        var chart = new google.visualization.ColumnChart(
                document.getElementById('chart')
        );
        var options = {
            'title': 'Sales Transaction Total',
            'isStacked': true,
            'legend': 'bottom',
            'width': 880,
            'height': 371
        };
        chart.draw(data, options)
    }

    google.charts.setOnLoadCallback(drawForecastChart);

    function drawForecastChart() {
        var data = google.visualization.arrayToDataTable({{
            context.forecast | safe
        }});

        var options = {
            chart: {
                title: 'Next month Forecast and Current Inventory'
            },
            'width': 880,
            'height': 371
        };

        var chart = new google.charts.Bar(document.getElementById('forecast-chart'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script>
{% endblock %}