{% block nav %}
<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="container w-container"><a href="#" class="brand w-nav-brand"></a>
        <nav role="navigation" class="w-nav-menu">
            {% if context is defined and context.dashboard %}
            <a href="/insight" class="nav-link w-nav-link">Insights</a>
            {% else %}
            <a href="/" class="nav-link w-nav-link">Dashboard</a>
            {% endif %}
            <a href="/product" class="nav-link-3 w-nav-link">Product</a>
            <a href="/location" class="nav-link-3 w-nav-link">Locations</a>
            <a href="/settings" class="nav-link-3 w-nav-link">Settings</a></nav>
        <div class="w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
        </div>
    </div>
</div>
{% endblock %}