{% extends 'base.html' %}
{% block title %}Locations{% endblock %}
{% include 'nav.html' %}
{% block content %}
<div id="Charts">
    <div class="top-container-2 tc2_location w-container">
        <div class="div-block-3">
            <div class="page-header ph_other">Locations</div>
            <h3 class="paragraph-text pt_other">Manage any geolocation that goods are retrieved from, stored in or sent
                to.<br>You can view, update, add or archive warehouse and store.</h3>
        </div>
    </div>
</div>
{% include 'location/nav.html' %}
<div class="top-container w-container">
    <div class="div-block-7"><a href="/location/add-store">Add New Store</a></div>
    <div class="w-row">
        <div class="w-col w-col-2">
            <div class="page-subheader">Location ID</div>
        </div>
        <div class="w-col w-col-2">
            <div class="page-subheader">Store Name</div>
        </div>
        <div class="w-col w-col-2">
            <div class="page-subheader">Country</div>
        </div>
        <div class="w-col w-col-2">
            <div class="page-subheader">Coordinates</div>
        </div>
        <div class="w-col w-col-2"></div>
        <div class="w-col w-col-2"></div>
    </div>
    <div class="w-row">
        {% for store in context.stores %}
        <div class="w-col w-col-2">{{ store.location_id }}</div>
        <div class="w-col w-col-2">{{ store.loc_name }}</div>
        <div class="w-col w-col-2">{{ store.state }}</div>
        <div class="w-col w-col-2">{{ store.coordinates }}</div>
        <div class="w-col w-col-2"><a href="/location/update-store" class="simple-link w-button">Update
            Details</a></div>
        <div class="w-col w-col-2"><a href="/location/archive?id={{ store.id }}" class="simple-link w-button">Archive
            Store</a></div>
        {% endfor %}
    </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="../js/webflow.js" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
{% endblock %}